#header{
  display: flex;
  justify-content: space-around;
}

.logo{
  display: inline-flex;
}

.navi{
  display: inline-flex;
}

.nav{
  display: inline-block;
}

.mytimes{
  color: MediumAquamarine;
}

.navtext{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container{
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
  flex-direction: column;
}

.border{
  border: 1px solid black;
  padding: 20px;
}

#maincontent{
  display: inline-flex;
}

#leftcolumn{
  width: 630px;
}

#middlecolumn{
  width: 300px;
}

#rightcolumn{
  width: 240px;
}
